@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@import url(https://fonts.googleapis.com/css?family=Raleway:600);

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4f535f;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    -webkit-overflow-scrolling:touch;
}

html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 36px;
        text-align: left;
        letter-spacing: 0.5px;
    }
}

a:hover,
a:focus {
    text-decoration: none;
    color: white;
}

.navbar {
    margin-bottom: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    z-index: 1000;
}

.navbar-custom{
    background-color:rgba(1,1,1,0);
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li{
    background-color: none;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans', sans-serif;
}

.navbar-custom .nav li a:hover{
    outline: 0;
    background-color: none;
    background:none;
    color:dodgerblue;
}
.navbar-custom .nav li a:active{
    background-color: none;
    background: none;
}

.top-nav-collapse .nav li:hover{
    background:none;
}

.top-nav-collapse .nav li a:hover{
    outline: 0;
    background: none;
    color:dodgerblue!important;
    border-bottom: none !important;
}

.top-nav-collapse .nav li.page-scroll a{
    outline: 0;
    background: none;
    background-color: none;
    border-bottom: none !important;
}

.top-nav-collapse .nav li a:active{
    color:dodgerblue;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

#myname.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
	font-size: 18px;
    font-weight: 600;
    color: white;
}

#top_menu{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@media(max-width:767px) {
    p {
        font-size: 16px;
    }
    
    .navbar-custom{
        background-color: white;
        border-bottom: 2px solid;
        border-bottom-color: black;
    }

    .navbar-brand {
        color: #333332 !important;
    }
    .navbar-custom .nav li a {
        background-color: white;
        color: #333332 !important;
        border-bottom: none !important;
    }
    .navbar-custom .nav li a:hover {
        color:dodgerblue;
    }
    .brand-heading {
        font-size: 36px !important;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
    }
    .intro-text {
        font-size: 16px !important;
        line-height: 30px;
        font-weight: 200;
        text-align: center;
    }

    .profile {
        padding-bottom: 25px;
    }
    .about-section {
        padding-top: 140px;
        margin-top: -150px;
        min-height: 700px !important;
    }
    .service-section {
        padding-top: 140px;
        margin-top: -150px;
        padding-bottom: 80px;
    }
    .contact-section{
        padding-top: 140px;
        margin-top: -150px;
        min-height: 650px !important;
    }
    .service-section h2 {
/*        padding-top: 100px !important;*/
    }
}

@media(max-width:500px) {
    .about-section {
        padding-top: 140px;
        margin-top: -150px;
        min-height: 780px !important;
    }
    .service-section {
        padding-top: 140px;
        margin-top: -150px;
        padding-bottom: 80px;
    }
    .service-section h3 {
/*        padding-top: 100px;*/
    }
    .contact-section{
        padding-top: 140px;
        margin-top: -150px;
        min-height: 650px !important;
    }
    
}

@media(min-width:767px) 
{
    .navbar 
    {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    .top-nav-collapse
    {
        background-color: rgba(255, 255, 255, 0.97);
        margin-top: 0px;
        color: #333332;
    }

    .top-nav-collapse .nav li .active a 
    {
        background: none;
        color: #333332 !important;
    }

    .top-nav-collapse li a 
    {
        color: #333332 !important;
    }

    .top-nav-collapse .navbar-brand 
    {
        color: #333332 !important;
    }
}

#intro{
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: rgba(255,255,255,0.8);
    background: url(/public/assets/images/intro-5.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-text {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

#border-intro{
    margin-top: -5px;
    height: 2px;
    width: 60px;
    background-color:cornsilk;
}

.brand-heading {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 36px;
    text-align: left;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 48px;
    }

    .intro-text {
        font-size: 18px;
    }
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.button {
    width: 180px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    color: #fff;
    background: none;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 60px;
    height: 54px;
    line-height: 54px;
    transition: all 200ms ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
}

.button:hover {
    text-decoration: none;
    color: cornsilk !important;
    border: 1px solid cornsilk;
}

.content-section {
}

#about{
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-section {
}

.about-section h2 {
    color: #333332;
    font-family: 'SourceCodePro-Medium', 'MS Gothic', monospace;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
}

.about-section p {
    font-family: 'Open Sans', 'sans-serif';
    color: #666665;
}

.about-section a {
    color: #666665;
}

.about-section a:hover {
    color: #41dd85;
}

.portfolio-section h2 {
    color: #333332;
    font-family: 'SourceCodePro-Medium', 'MS Gothic', monospace;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
}

.portfolio-section {
    min-height: 700px;
    width: 100%;
    padding: 50px 0;
    color: #666665;
    background-color: #F2F3F5;
}

.portfolio-section a {
    color: #666665;
}

.portfolio-section p {
    font-family: 'Open Sans', 'sans-serif';
    text-align: center;
    padding-bottom: 20px;
}

.portfolio-section .col-md-4 {
    margin-bottom: 20px;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    width: 100%;
    display: block;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    width: 100%;
    display: block;
    position: relative;
}

.service-section h2 {
    color: #333332;
    font-family: 'SourceCodePro-Medium', 'MS Gothic', monospace;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
}

.service-section p {
    font-family: 'Open Sans', 'sans-serif';
    text-align: center;
    padding-bottom: 20px;
}

.services h3{
    font-family:'Open Sans', 'sans-serif';
    font-weight: 400;
}

#skills{
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

#message {padding-bottom: 10px; color: #0093cb; text-align: center;}

form {padding: 0px 0px 20px 0px;}
form .row {
    width: 100%; 
    display: block;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}
form .row span {width: 90px; padding-top: 5px; float: left;}
form input {padding: 16px; border: none; border: 0px; font-size: 16px; width: 100%; letter-spacing: 1px;}
form textarea {padding: 16px; border: 0px; font-size: 16px; width: 100%; margin: 5px 0px;}
form .row .field {float: left; width: 100%;}

input[type=submit] {
    -moz-appearance: button;
    -moz-binding: none;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
   -webkit-appearance: none;
    
    cursor: pointer;
	text-align: center;
	border: 2px solid #eeeeee;
	padding: 15px 0px;
	font-size: 12px;
	margin: 10px auto;
	width: 120px;
	display: block;
	text-decoration: none;
	font-family: 'Varela Round', sans-serif;
	background-color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	color: #999;
	text-transform: uppercase;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.contact {
    width: 100%;
    padding: 50px 0;
    color: #666665;
    background-color: #F2F3F5;
}

.contact-section {
    width: 100%;
    padding: 50px 0;
    color: #666665;
    background-color: #F2F3F5;
}

.inner-title {
    color: #333332;
    font-family: 'SourceCodePro-Medium', 'MS Gothic', monospace;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
    text-align: center; 
}
.contact-section{
    height: auto;
    padding-top: 100px;
    padding-bottom: 80px;
}

#contactmsg{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4f535f;
}